/* font nikosh */
@font-face {
    font-family: nikosh;
    src: url(../fonts/Nikosh.ttf);
}


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: nikosh;
    scroll-behavior: smooth;
}

/* header section css start  */
.heading {
    background-image: linear-gradient(to right, #09559a, #064c88, #064377, #073a66, #093155);
    ;
    height: 100vh;
    position: relative;
}

.navItem {
    display: flex;
    justify-content: space-between;
}

.navItem img {
    width: calc(20px + 5vw);
    padding: 5px;
    filter: drop-shadow(-1px 0px 0px white);
}

.navContactInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 40%;
    color: white;
}

.navContactInfo i {
    margin-inline: 10px;
    font-size: calc(15px + 0.5vw);
}

/* header containte start */
.headercontant {
    display: flex;
    justify-content: space-between;
    height: 90%;
    position: relative;
    z-index: 1;
}

.leftContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

.leftImg {
    position: relative;
}

.laptop {
    width: calc(200px + 25vw);
}

.mobile {
    width: calc(69px + 6vw);
    position: absolute;
    bottom: 32px;
    right: -70px;
    animation: floating 5s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.file {
    width: calc(50px + 2.5vw);
    position: absolute;
    bottom: 50px;
    left: 0;
    animation: floatingFile 3s ease-in-out infinite
}

@keyframes floatingFile {
    0% {
        transform: translate(0, -0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

.rightContainer {
    display: flex;
    align-items: center;
}

.rightContent {
    color: white;
    text-align: center;
    padding-left: calc(10px + 6vw);
    ;
}

.rightContent h1 {
    font-size: calc(20px + 1vw);
    padding-bottom: calc(10px + 1vw);
}

.rightContent p {
    font-size: 18px;
    color: #f9f9f9;
}

.rightBtn {
    padding-top: 20px;
}

.rightBtn button {
    font-size: 20px;
}

img.shape1 {
    position: absolute;
    top: 22%;
    right: 8%;
    opacity: 0.7;
    animation: rotation 8s infinite linear;
}

img.shape2 {
    width: 30px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    opacity: 0.7;
    animation: rotation 8s infinite linear;
}

img.shape3 {
    position: absolute;
    top: 17%;
    left: 31%;
    width: 25px;
    opacity: 0.7;
    animation: rotation 8s infinite linear;
}

img.shape4 {
    position: absolute;
    top: 32%;
    right: 20%;
    animation: rotation 8s infinite linear;
}

img.shape5 {
    position: absolute;
    top: 66%;
    right: 34%;
    animation: rotation 8s infinite linear;
}

img.shape6 {
    position: absolute;
    top: 13%;
    right: 50%;
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* header containt end  */

/* header section css end  */



.about-us {
    display: flex;
    font-family: 'nikosh';
}

.about-heading .h3 {
    margin-bottom: 1rem;
}

.about-para {
    font-size: 20px;
}

.about-image {
    margin-block: auto;
}

.about-image img {
    width: 40vw;
    max-width: 600px;
    margin-block: auto;
}

/* why choose us section css */

.choosing {
    font-family: 'nikosh';
}

.choosing-heading {
    text-align: center;
}

.choosing-heading p:last-child {
    color: #3f3f3f;
}

.columns {
    display: flex;
}

.left-img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    position: absolute;
    margin-left: 110%;
    z-index: 1;
}
.whyUsimg {
    width: 54%;
    height: auto;
}
.whyUsimg img {
    height: auto;
    max-width: 100%;
}

.right-img {
    width: 80px px;
    height: 80px;
    border-radius: 80px;
    position: absolute;
    margin-left: -30%;
    z-index: 1;
}


/* feature css */

.features {
    font-family: 'nikosh';
    background: #F9F9F9;
    background-image: url(../img/backgroundShap.png);
    background-position: center;
    background-size: cover;
}

.main-feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.feature-card {
    text-align: center;
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
    width: 300px;
    margin: 10px;
    margin-block: 20px;
    border-radius: 5px;
    padding: 1rem;
    transition: 0.5s all ease-out;
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
    z-index: 1;
}

.feature-card:hover .img-fancy-box{
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.3s all ease-in;
    border-radius: 0;
    cursor: pointer;
}

.feature-card-img {
    padding-block: 1rem;
}

.img-fancy-box {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    height: 60px;
    width: 70px;
    background-color: #2DB1FF;
    border-radius: 43% 57% 72% 28% / 81% 77% 23% 19%;
    z-index: 1;
    transition: 0.3s all ease-out;
}

.feature-card-img img{
    width: 50px;
    z-index: 2;
    position: relative;
}

.feature-card:hover .feature-card-heading {
    position: relative;
    z-index: 2;
    color: #f9f9f9;
}