/* font nikosh */
@font-face {
    font-family: nikosh;
    src: url(../fonts/Nikosh.ttf);
}


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.about-us{
    display: flex;
    font-family: 'nikosh';
}

.about-heading .h3 {
    margin-bottom: 1rem;
}